<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dms.cloud.biz302.server.mapper.CatalogTariffInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dms.cloud.biz302.client.model.entity.CatalogTariffInfo">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="electricity_price_name" property="electricityPriceName"/>
        <result column="power_consumption_nature" property="powerConsumptionNature"/>
        <result column="voltage_level" property="voltageLevel"/>
        <result column="capacity_level" property="capacityLevel"/>
        <result column="electricity_price_type" property="electricityPriceType"/>
        <result column="electricity_price" property="electricityPrice"/>
        <result column="start_time" property="startTime"/>
        <result column="electricity_price_code" property="electricityPriceCode"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, electricity_price_name, power_consumption_nature, voltage_level, capacity_level, electricity_price_type, electricity_price, start_time, electricity_price_code, status
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">biz_catalog_tariff_info</sql>
    <!-- 别名 -->
    <sql id="t_alias">biz_catalog_tariff_info as info</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.dms.cloud.common.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.dms.cloud.common.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <select id="getPointPrice" resultType="com.dms.cloud.biz302.client.model.entity.CatalogTariffInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="t_name"/>
        WHERE
        status = 0 and
<!--         STR_TO_DATE( start_time, '%Y%m%d_%k%i' ) <![CDATA[  <=  ]]>  #{date} and -->
        power_consumption_nature = #{type}
        ORDER BY
        STR_TO_DATE( start_time, '%Y%m%d_%k%i' ) DESC
        LIMIT 1
    </select>
</mapper>
