<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dms.cloud.biz305.server.mapper.CleanEnergyPowerLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dms.cloud.biz305.client.model.entity.CleanEnergyPowerLimit">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="date" property="date" />
        <result column="area_code" property="areaCode" />
        <result column="area_name" property="areaName" />
        <result column="power_plant_type" property="powerPlantType" />
        <result column="generated_energy" property="generatedEnergy" />
        <result column="limited_energy" property="limitedEnergy" />
        <result column="util_hours" property="utilHours" />
        <result column="scope_date" property="scopeDate" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, date, area_code, area_name, power_plant_type, generated_energy, limited_energy, util_hours, scope_date, status
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">biz_clean_energy_power_limited_util_hours</sql>
    <!-- 别名 -->
    <sql id="t_alias">biz_clean_energy_power_limited_util_hours as hours</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.dms.cloud.common.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.dms.cloud.common.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
