<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dms.cloud.biz302.server.mapper.GovernmentApprovalFitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
               type="com.dms.cloud.biz302.client.model.entity.GovernmentApprovalFit">
        <id column="fit_id" property="fitId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="power_plant_code" property="powerPlantCode"/>
        <result column="power_plant_name" property="powerPlantName"/>
        <result column="unit_code" property="unitCode"/>
        <result column="unit_name" property="unitName"/>
        <result column="sales_price_to_network" property="salesPriceToNetwork"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        fit_id, power_plant_code,
        power_plant_name, unit_code, unit_name,
        sales_price_to_network,
        start_time, end_time, status
    </sql>

    <!--自定义关联查询 -->
    <!-- 表名 -->
    <sql id="t_name">biz_government_approval_fit</sql>
    <!-- 别名 -->
    <sql id="t_alias">biz_government_approval_fit as fit</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap"
            resultType="com.dms.cloud.common.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList"
            resultType="com.dms.cloud.common.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!--查询某机组的指定时刻的政府核准上网电价-->
    <select id="getDateTimeGovernmentApprovalFit"
            resultType="com.dms.cloud.biz302.client.model.entity.GovernmentApprovalFit">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="t_name"/>
        where unit_code = #{unitCode}
        and status = 0
        and STR_TO_DATE(start_time,'%Y%m%d_%k%i')<![CDATA[ <= ]]> #{datePoint}
        and STR_TO_DATE(end_time,'%Y%m%d_%k%i')<![CDATA[ > ]]> #{datePoint}
        order by STR_TO_DATE(start_time,'%Y%m%d_%k%i') desc
        limit 1
    </select>
    
    <!--查询指定时刻的政府核准上网电价-->
    <select id="getListByDateNew"
            resultType="com.dms.cloud.biz302.client.model.entity.GovernmentApprovalFit">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="t_name"/>
        where status = 0
        and STR_TO_DATE(start_time,'%Y%m%d_%k%i')<![CDATA[ <= ]]> #{datePoint}
        and STR_TO_DATE(end_time,'%Y%m%d_%k%i')<![CDATA[ > ]]> #{datePoint}
        order by STR_TO_DATE(start_time,'%Y%m%d_%k%i') desc
        limit 1
    </select>
</mapper>
