<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dms.cloud.biz308.server.mapper.MaintenanceTimePlantActualMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dms.cloud.biz308.client.model.entity.MaintenanceTimePlantActual">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="equipment_name" property="equipmentName" />
        <result column="equipment_code" property="equipmentCode" />
        <result column="plant_substation_name" property="plantSubstationName" />
        <result column="plant_substation_code" property="plantSubstationCode" />
        <result column="apply_id" property="applyId" />
        <result column="equipment_type" property="equipmentType" />
        <result column="epu_status" property="epuStatus" />
        <result column="status_type" property="statusType" />
        <result column="amend_reason" property="amendReason" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="scope_date" property="scopeDate" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, equipment_name, equipment_code, plant_substation_name, plant_substation_code, apply_id, equipment_type, epu_status, status_type, amend_reason, start_time, end_time, scope_date, status
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">biz_maintenance_time_plant_actual</sql>
    <!-- 别名 -->
    <sql id="t_alias">biz_maintenance_time_plant_actual as actual</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.dms.cloud.common.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.dms.cloud.common.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
