<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dms.cloud.biz303.server.mapper.PowerPlantTradingRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dms.cloud.biz303.client.model.entity.PowerPlantTradingRecord">
        <id column="trading_id" property="tradingId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="trading_code" property="tradingCode" />
        <result column="trading_type" property="tradingType" />
        <result column="trading_name" property="tradingName" />
        <result column="buyer_enterprise_code" property="buyerEnterpriseCode" />
        <result column="buyer_enterprise_name" property="buyerEnterpriseName" />
        <result column="buyer_enterprise_type" property="buyerEnterpriseType" />
        <result column="buyer_unit_code" property="buyerUnitCode" />
        <result column="buyer_unit_name" property="buyerUnitName" />
        <result column="seller_enterprise_code" property="sellerEnterpriseCode" />
        <result column="seller_enterprise_name" property="sellerEnterpriseName" />
        <result column="seller_enterprise_type" property="sellerEnterpriseType" />
        <result column="seller_unit_code" property="sellerUnitCode" />
        <result column="seller_unit_name" property="sellerUnitName" />
        <result column="trade_date" property="tradeDate" />
        <result column="trade_time" property="tradeTime" />
        <result column="electrical_energy" property="electricalEnergy" />
        <result column="buyer_price" property="buyerPrice" />
        <result column="seller_price" property="sellerPrice" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="scope_date" property="scopeDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        trading_id, trading_code, trading_type, trading_name, buyer_enterprise_code, buyer_enterprise_name, buyer_enterprise_type, buyer_unit_code, buyer_unit_name, seller_enterprise_code, seller_enterprise_name, seller_enterprise_type, seller_unit_code, seller_unit_name, trade_date, trade_time, electrical_energy, buyer_price, seller_price, type, status, scope_date
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">biz_power_plant_trading_record</sql>
    <!-- 别名 -->
    <sql id="t_alias">biz_power_plant_trading_record as record</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.dms.cloud.common.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.dms.cloud.common.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
