<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dms.cloud.biz301.server.mapper.PowerPlantRegisterInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dms.cloud.biz301.client.model.entity.PowerPlantRegisterInfo">
        <id column="power_plant_id" property="powerPlantId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="power_plant_code" property="powerPlantCode"/>
        <result column="power_plant_name" property="powerPlantName"/>
        <result column="administrative_division" property="administrativeDivision"/>
        <result column="power_generation_co" property="powerGenerationCo"/>
        <result column="power_plant_address" property="powerPlantAddress"/>
        <result column="tel" property="tel"/>
        <result column="fax" property="fax"/>
        <result column="post_code" property="postCode"/>
        <result column="registration_aic" property="registrationAic"/>
        <result column="business_lic_code" property="businessLicCode"/>
        <result column="unit_generating_service_lic_code" property="unitGeneratingServiceLicCode"/>
        <result column="tax_registration_id" property="taxRegistrationId"/>
        <result column="agency_code" property="agencyCode"/>
        <result column="legal_representative" property="legalRepresentative"/>
        <result column="document_type" property="documentType"/>
        <result column="id_number" property="idNumber"/>
        <result column="account_name" property="accountName"/>
        <result column="account_bank" property="accountBank"/>
        <result column="account_number" property="accountNumber"/>
        <result column="ownership" property="ownership"/>
        <result column="provincial_power_grid_name" property="provincialPowerGridName"/>
        <result column="regional_power_grid_name" property="regionalPowerGridName"/>
        <result column="dispatching_relation" property="dispatchingRelation"/>
        <result column="uniform_social_credit_code" property="uniformSocialCreditCode"/>
        <result column="status" property="status"/>
        <result column="is_manual_flag" property="isManualFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        power_plant_id, power_plant_code, power_plant_name, administrative_division, power_generation_co, power_plant_address, tel, fax, post_code, registration_aic, business_lic_code, unit_generating_service_lic_code, tax_registration_id, agency_code, legal_representative, document_type, id_number, account_name, account_bank, account_number, ownership, provincial_power_grid_name, regional_power_grid_name, dispatching_relation, uniform_social_credit_code, status,is_manual_flag
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">biz_power_plant_register_info</sql>
    <!-- 别名 -->
    <sql id="t_alias">biz_power_plant_register_info as info</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.dms.cloud.common.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.dms.cloud.common.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <select id="selectRegisterBo" resultType="com.dms.cloud.biz301.client.model.bo.RegisterBo">
        SELECT
        power_plant_code AS code,
        power_plant_name AS name
        FROM
        biz_power_plant_register_info
        WHERE
        status = 0
        <!--<if test="area != null">-->
        <!--and area = #{area}-->
        <!--</if>-->
    </select>
</mapper>
